<!DOCTYPE html>
<html>
<head>
  <style>
  .bugreport{
    color:#800000;
    font-size:75%;
    background-color:#DDDDDD;
  }

  </style>

  <script src=
  "http://maps.google.com/maps/api/js?sensor=false&v=3&libraries=geometry"
  type="text/javascript"></script>
  <script src=
  "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="controllers/trips.js"></script>
  <script src="controllers/profile.js"></script>

  <title></title>
</head>

<body ng-app="amigo">
  <div ng-controller="MakeTrips">
    <p>ng-controller="MakeTrips"</p>

    <form type="submit">
      <label>Destination:</label><input ng-model="destination"><br>
      <label>Start Time:</label><input ng-model="start" type="date"><br>
      <label>End Time:</label><input ng-model="end" type="date"><br>
      <button ng-click="makeTrip()">Make Trip</button>
    </form>{{ response }}
  </div>
  <hr>

  <div ng-controller="AddProfile">
    <p>ng-controller="AddProfile"</p>

    <form type="submit">
      <label>Profile</label>
      <textarea ng-model="profile"></textarea><br>
      <button ng-click="addProfile()">Add/update profile to signed in
      user</button>
    </form>{{ response }}
    <br>
    <PRE class="bugreport">
Bugs:
* Can create/edit profile for recently signed-up user, but not for logged-in user</PRE>
  </div>

  <HR>
    <div ng-controller="GetProfile">
    <p>ng-controller="GetProfile"</p>

    <form type="submit">
      <label>username</label>
      <input ng-model="username"></input><br>
      <button ng-click="getProfile()">Get Profile of Username</button>
    </form><BR>
    id#: {{ user_id }} <BR>
    email: {{ user_email }} <BR>
    password(hashed): {{ user_hashpass }} <BR>
    fb_id: {{ user_fb_id }} <BR>
    fb_token: {{ user_fb_token }} <BR>
    profile: {{ user_profile }} <BR>
    <br>
    <PRE class="bugreport">No Bugs To Report</PRE>
  </div>

<HR>

    <div ng-controller="GetTrips">
    <p>ng-controller="GetTrips"</p>

    <form type="submit">
      <label>Username: </label>
      <input ng-model="username"></input><br>
      <button ng-click="getTrips()">Get Trips</button>
    </form><BR>

    <div ng-repeat="trip in trips">

    <UL>
    <LI>{{trip.username}}</LI>
      <UL>
      <LI>{{trip.dest_name}}</LI>
      <LI>{{trip.time_start}}</LI>
      <LI>{{trip.time_end}}</LI>
      </UL>
    </UL>
    </div>
    <br>
    <PRE class="bugreport">No Bugs To Report</PRE>
  </div>

<HR>



</body>
</html>